.categories{
    background-color: @color-bg;
    .categories__main{
        margin-top: 40px;
        .layout();
        background-color: @color-bg-white;
    }
    .categorys__title{
        text-align: center;
        font-weight: 700;
        font-size: 19px;
        text-transform: uppercase;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    .categorys__main{
        background-color: #fff;
        min-width: 1200px;
        ul{
            display: grid;
            grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
            grid-template-rows: 160px 160px;
            text-align: center;
        }
        li{
            list-style: none;
            width: 100%;
            height: 100%;
            padding-top: 25px;
            border-left: 1px solid rgba(245, 245, 245, 1);
            border-bottom: 1px solid rgba(245, 245, 245, 1);
        }
        a{
            font-weight: 400;
            .a(@color-text, 15px);
        }
    }
}