.footer{
    max-width: @default-layout-width;
    margin: 0 auto;
    .footer__main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;
    }
    h4{
        margin-top: 20px;
        .title(@color-text, @text_S);
        text-transform: uppercase;
    }
    .footer__title--red{
        color: @color-primary;
    }
    .footer__col{
        ul{
            list-style: none;
            margin-top: 30px;
            li{
                margin-top: 20px;
                font-size: @text_S;
            }
            a{
                font-size: @text_S;
            }
        }
        .footer__contact{
            margin-top: 0px;
            display: flex;
            column-gap: 10px;
            li{
                .button(25px, 25px, @text_M, @color-text, @color-primary, @color-primary, 100%);
            }
            a svg{
                .svg(@color-white, @size_icon-M)
            }
        }
    }
    .footer__pay{
        ul{
            display: grid;
            list-style: none;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 20px;
        }
    }
    .footer__sub{
        padding: 20px 0px;
        font-size: @text_XS;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid @color-Whitesmoke;
        ul{
            display: flex;
        }
        li{
            border-right: 1px solid #333;
            padding: 0px 25px;
            &:last-child{
                padding: 0px;
                padding-left: 25px;
                border-right: none;
            }
        }
    }
}