.a(@color: @color-text, @size: @text_S){
    color: @color;
    font-size: @size;
    text-decoration: none;
}

.svg(@fill: @color-white, @size: @text_S){
    fill: @fill;
    width: @size;
}
.text(@color: @color-black, @size: @text_M, @weight: 400){
    color: @color;
    font-size: @size;
    font-weight: @weight;
}
.layout(@width: @default-layout-width){
    max-width: @width;
    margin: 0 auto;
}
.title(@color: @color-primary, @size: @text_L, @weight: 700){
    color: @color;
    font-size: @size;
    font-weight: @weight;
    font-family: @font-family;
}
.border(@color: @color-gray, @size: 1px, @radius: 0px){
    border: @size solid @color ;
    border-radius: @radius;
}
.flex_center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.button(
    @btn_width,
    @btn_height,
    @btn_text-size : @text_M,
    @btn_text-color : @color-text,
    @btn_bg-color : @color-bg-primary,
    @btn_bg-color-hover : @color-primary ,
    @btn_text-color-hover : @color-white
){
    width: @btn_width;
    height: @btn_height;
    .flex_center();
    font-size: @btn_text-size;
    color: @btn_text-color;
    background-color: @btn_bg-color;
    &:hover{
        background-color: @btn_bg-color-hover;
        a{
            color: @btn_text-color-hover;
        }
    }
}

.search(){
    width: @input_width;
    height: @input_height;
    border: 1px solid @input_color-border;
    border-radius: @input_radius;
    outline: none;
    font-size: @input_size-text;
    &::placeholder{
        color: @input_color-placeholder
    }
}