.a(@color: @color-text, @size: @text_S){
    color: @color;
    font-size: @size;
    text-decoration: none;
}

.svg(@fill: @color-white, @size: @text_S){
    fill: @fill;
    width: @size;
}
.text(@color: @color-black, @size: @text_M, @weight: 400){
    color: @color;
    font-size: @size;
    font-weight: @weight;
}
.layout(@width: @default-layout-width){
    max-width: @width;
    margin: 0 auto;
}
.title(@color: @color-primary, @size: @text_L, @weight: 700){
    color: @color;
    font-size: @size;
    font-weight: @weight;
    font-family: @font-family;
}
.border(@color: @color-gray, @size: 1px, @radius: 0px){
    border: @size solid @color ;
    border-radius: @radius;
}
.flex_center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search(
    @color_border_input: @color_gray,
    @color_border_radius_input: 50%,
    @color_width_input: 300px,
    @font_size_input: @text_S,
    @color_btn: @color_white,
    @border_radius_btn: 50%,
    @width_btn: 35px,
    @height_btn: 35px,
    @color_icon: @color_white,
    @size_icon: 12px
){
    border: 1px solid @color_border_input;
    border-radius: @color_border_radius_input;
    width: @color_width_input;
    input{
        font-size: @font_size_input;
        border: none;
        outline: none;
    }
    button{
        background-color: @color_btn;
        border-radius: @border_radius_btn;
        width: @width_btn;
        height: @height_btn;
        .flex_center();
        cursor: pointer;
        svg{
            .svg(@color_icon, @size_icon)
        }
    }
}