@color-red: #C8102E;
@color-black: #000000;
@color-Whitesmoke: #f5f5f5;
@color-white: #ffffff;
@color-gray: #D9D9D9;



@default-layout-width: 1200px;
@color-primary: @color-red;
@color-text: @color-black;
@color-bg: @color-Whitesmoke;
@color-bg-white: @color-white;
@color-border: @color-gray;
@font-family: 'Roboto';
@text_S: 12px;
@text_M: 14px;
@text_L: 19px;